<!DOCTYPE HTML>

<html>
	<head>
		<title>DataViz by Anthony Marais</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	
	
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">DataViz <span>by Anthony Marais</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>					
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/tech_data_font_2.jpeg" alt="" />
					<div class="inner">
						<header>
							<p>DataViz by <a>Anthony Marais</a></p>
							<h2>DataViz Netflix</h2>
						</header>
					</div>
				</article>
			
			
			</section>

			
					
					
					
			
		
		
		
		
		
		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">


						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/graphique_biggest_productor.png" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Data-Visualisation des plus gros producteur de contenu sur Netflix</p>
										<h2>Les 10 producteur avec le plus de contenu sur Netflix</h2>
									</header>
									<p>Graphique du nombre de contenu par producteur</p>
									<footer class="align-center">
										
									</footer>
								</div>
							</div>
						</div>
		<!-- TWO -->
						


						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/graphique_evolution_addon_netflix.png" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Data-Visualisation de l'évolution de l'ajout de contenu sur Netflix</p>
										<h2>Evolution du nombre d'ajout de contenu sur Netflix</h2>
									</header>
									<p> Graphique de l'évolution d'ajout de contenu par année</p>
									<footer class="align-center">
										
									</footer>
								</div>
							</div>
						</div>



						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/graphique_biggest_country.png" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Data-Visualisation de l'évolution des pays avec le plus de contenu sur Netflix</p>
										<h2>Classement des pays avec le plus de contenu disponnible sur Netflix</h2>
									</header>
									<p>Graphique des pays avec le plus de contenu sur Netflix</p>
									<footer class="align-center">
										
									</footer>
								</div>
							</div>
						</div>
		<!-- THREE -->
						

						
		<!-- FOUR -->
						

					</div>
				</div>
			</section>

				<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>DATAVIZ BY ANTHONY MARAIS</p>
						<h2>Car L'analyse des données n'as jamais étais aussi importante</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">DATAVIZ BY ANTHONY MARAIS</p>
						
					</header>
						
						<div>
							<div class="box">
								
								<div class="content">
									<header class="align-center">
										
										<h2>Liste de film de Steven Spielberg</h2>
									</header>
									<!-- boucle pour selectionner la liste des films -->
										<ul>
										<li>Indiana Jones and the Last Crusade</li>
										
										<li>Indiana Jones and the Temple of Doom</li>
										
										<li>Indiana Jones and the Raiders of the Lost Ark</li>
										
										<li>Catch Me If You Can</li>
										
										<li>Schindler's List</li>
										
										<li>Indiana Jones and the Kingdom of the Crystal Skull</li>
										
										<li>The Adventures of Tintin</li>
										
										<li>War Horse</li>
										
										<li>Lincoln</li>
										
										</ul>
									<!-- fin de boucle -->
									<footer class="align-center">
										
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								
								<div class="content">
									<header class="align-center">
										
										<h2>Liste d'acteur ayant joué avec Steven Spielberg</h2>
									</header>
									<!-- boucle pour selectionner la liste des acteurs -->
										<div class="row">
										
										<p>- Alfred Molina</p>
										
										<p>- Alison Doody</p>
										
										<p>- Amrish Puri</p>
										
										<p>- Amy Adams</p>
										
										<p>- Andrzej Seweryn</p>
										
										<p>- Andy Serkis</p>
										
										<p>- Anthony Higgins</p>
										
										<p>- Beatrice Macola</p>
										
										<p>- Ben Kingsley</p>
										
										<p>- Benedict Cumberbatch</p>
										
										<p>- Brian Howe</p>
										
										<p>- Bruce McGill</p>
										
										<p>- Caroline Goodall</p>
										
										<p>- Cate Blanchett</p>
										
										<p>- Christopher Walken</p>
										
										<p>- Chua Kah Joo</p>
										
										<p>- Daniel Craig</p>
										
										<p>- Daniel Day-Lewis</p>
										
										<p>- Daniel Mays</p>
										
										<p>- David Kross</p>
										
										<p>- David Oyelowo</p>
										
										<p>- David Strathairn</p>
										
										<p>- David Thewlis</p>
										
										<p>- David Yip</p>
										
										<p>- Denholm Elliott</p>
										
										<p>- Eddie Marsan</p>
										
										<p>- Embeth Davidtz</p>
										
										<p>- Emily Watson</p>
										
										<p>- Frank John Hughes</p>
										
										<p>- Friedrich von Thun</p>
										
										<p>- Gad Elmaleh</p>
										
										<p>- Hal Holbrook</p>
										
										<p>- Harrison Ford</p>
										
										<p>- Igor Jijikine</p>
										
										<p>- Jackie Earle Haley</p>
										
										<p>- James Brolin</p>
										
										<p>- James Spader</p>
										
										<p>- Jamie Bell</p>
										
										<p>- Jared Harris</p>
										
										<p>- Jeremy Irvine</p>
										
										<p>- Jim Broadbent</p>
										
										<p>- Joe Starr</p>
										
										<p>- John Hawkes</p>
										
										<p>- John Hurt</p>
										
										<p>- John Rhys-Davies</p>
										
										<p>- Jonathan Ke Quan</p>
										
										<p>- Jonathan Sagall</p>
										
										<p>- Joseph Cross</p>
										
										<p>- Joseph Gordon-Levitt</p>
										
										<p>- Julian Glover</p>
										
										<p>- Karen Allen</p>
										
										<p>- Kate Capshaw</p>
										
										<p>- Kevork Malikyan</p>
										
										<p>- Leonardo DiCaprio</p>
										
										<p>- Liam Cunningham</p>
										
										<p>- Liam Neeson</p>
										
										<p>- Mark Ivanir</p>
										
										<p>- Martin Sheen</p>
										
										<p>- Małgorzata Gebel</p>
										
										<p>- Michael Byrne</p>
										
										<p>- Nathalie Baye</p>
										
										<p>- Nick Frost</p>
										
										<p>- Nicolas Bro</p>
										
										<p>- Niels Arestrup</p>
										
										<p>- Patrick Kennedy</p>
										
										<p>- Paul Freeman</p>
										
										<p>- Peter Mullan</p>
										
										<p>- Philip Stone</p>
										
										<p>- Rainer Bock</p>
										
										<p>- Ralph Fiennes</p>
										
										<p>- Ray Winstone</p>
										
										<p>- Ric Young</p>
										
										<p>- River Phoenix</p>
										
										<p>- Robert Eddison</p>
										
										<p>- Ronald Lacey</p>
										
										<p>- Roshan Seth</p>
										
										<p>- Roy Chiao</p>
										
										<p>- Sally Field</p>
										
										<p>- Sean Connery</p>
										
										<p>- Shia LaBeouf</p>
										
										<p>- Shmulik Levy</p>
										
										<p>- Simon Pegg</p>
										
										<p>- Steve Eastin</p>
										
										<p>- Tim Blake Nelson</p>
										
										<p>- Toby Jones</p>
										
										<p>- Toby Kebbell</p>
										
										<p>- Tom Hanks</p>
										
										<p>- Tom Hiddleston</p>
										
										<p>- Tommy Lee Jones</p>
										
										<p>- Vic Tablian</p>
										
										<p>- Wolf Kahler</p>
										
										
										</div>
									<!-- fin de boucle -->
									<footer class="align-center">
										
									</footer>
								</div>
							</div>
						</div>


						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/graphique_nombre_acteur_film_director.png" style="height:1200px" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Data-Visualisation du nombre d'acteur par film du directeur sélectionner</p>
										<h2>Nombre acteur par film de directeur choisi Netflix</h2>
									</header>
									<p> Graphique de nombre d'acteur par contenu de directeur</p>
									<footer class="align-center">
										
									</footer>
								</div>
							</div>
						</div>


						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/graphique_mean_time_director.png" style="height:800px"/>
								</div>
								<div class="content">
									<header class="align-center">
										<p>Data-Visualisation du temps moyen par film du directeur sélectionner</p>
										<h2>Temps moyen de film de directeur choisi Netflix</h2>
									</header>
									<p> Graphique de temps moyen par contenu de directeur</p>
									<footer class="align-center">
										
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/graphique_media_listed_in.png" style="height:800px"/>
								</div>
								<div class="content">
									<header class="align-center">
										<p>Data-Visualisation des catégorie par film du directeur sélectionner</p>
										<h2>Catégorie de film de directeur choisi Netflix</h2>
									</header>
									<p> Graphique des catégorie par contenu de directeur</p>
									<footer class="align-center">
										
									</footer>
								</div>
							</div>
						</div>


						


						<div class="gallery">
							<div>
									
							</div>
							
							
							
						</div>
				</div>
			</section>


			<footer id="footer">
				
				
				
				<div class="inner">
				
				
				
					<div class="content">
						<section>
							<h3>DATAVIZ NETFLIX</h3>
							<p>Ces analyse et visualisation des données on étais faite via notre database Netflix.</p>
						</section>
					
						<section>
							<h4>Contact</h4>
							<ul class="plain">
								
								<li><a href="https://github.com/anthony-marais"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					
					
					<p>Date et heure de la création du contenu 10/01/20 16:18:43</p>
					
					
					<div class="copyright">
						&copy; DataViz. by Anthony Marais.
					</div>
				</div>
		
		
		
			</footer>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>