<!DOCTYPE HTML>

<html>
	<head>
		<title>HOME BOOKING</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	
	
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">BOOKING <span>by Simplon'DATA</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>					
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/Booking.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Booking by <a>Simplon'DATA</a></p>
							
						</header>
					</div>
				</article>
			
			
			</section>

			
					
					
					
			
		
		
		
		
		
		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">


						<section id="three" class="wrapper style2">
                            <div class="inner">
                                <header class="align-center">
                                    <p class="special">RESERVATION DE SALLE</p>
                                    
                                </header>
                                    
                                    <div>
                                        <div class="box">
                                            
                                            <div class="content">
                                                <header class="align-center">
                                                    
                                                    <h2>Formulaire de réservation</h2>
                                                </header>
                                                <form action="/my-handling-form-page" method="post">
                                                    <ul>
                                                        <li>
                                                            <label for="mail">E-mail:</label>
                                                            <input type="text"  id="mail" name="user_mail" required autofocus size="40" placeholder="adresse mail maximum 300 caractères"
                                                            minlength="" maxlength="300">
                                                        </li>
                                                        <li>
                                                            <label for="name">Name:</label>
                                                            <input type="text" id="name" name="user_name" required autofocus size="40" placeholder="Nom maximum 30 caractères"
                                                            minlength="4" maxlength="30"/>
                                                        </li>
                                                        <li>
                                                            <label for="name">Surname:</label>
                                                            <input type="text" id="surname" name="user_surname" required autofocus size="40" placeholder="Prénom maximum 30 caractères"
                                                            minlength="2" maxlength="30"/>
                                                        </li>
                                                        <li>
                                                            <label for="name">Poste:</label>
                                                            <input type="text" id="poste" name="user_poste" required autofocus size="40" placeholder="Poste maximum 50 caractères"
                                                            minlength="2" maxlength="50" />
                                                        </li>
                                                        <li>
                                                            <label for="name">Organisation:</label>
                                                            <input type="text" id="organisation" name="user_organisation" required autofocus size="40" placeholder="Organisation maximum 100 caractères"
                                                            minlength="5" maxlength="100"/>
                                                        </li>
                                                        <li>
                                                            <label for="msg">Message:</label>
                                                            <textarea id="msg" name="user_message"required autofocus size="40" placeholder="Contenu du message maximum 320 caractères"
                                                            minlength="10" maxlength="320"></textarea>
                                                        </li>
                                                    </br>
                                                    <footer class="align-center">
                                                    <button  type="submit">Send your message</button>
                                                </footer>
                                                        
                                                    </ul>
                                                </form>
                                                <!-- fin de boucle -->
                                                <footer class="align-center">
                                                    
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </section>
		<!-- TWO -->
        <section id="three" class="wrapper style2">
            <div class="inner">
                <header class="align-center">
                    <p class="special">RESERVATION DE SALLE</p>
                    
                </header>
                    
                    <div>
                        <div class="box">
                            
                            <div class="content">
                                <header class="align-center">
                                    
                                    <h2>Formulaire de réservation</h2>
                                </header>
                                <form action="/my-handling-form-page" method="post">
                                    <ul>
                                        <li>
                                            <label for="mail">E-mail:</label>
                                            <input type="text"  id="mail" name="user_mail" required autofocus size="40" placeholder="adresse mail maximum 300 caractères"
                                            minlength="" maxlength="300">
                                        </li>
                                        <li>
                                            <label for="name">Name:</label>
                                            <input type="text" id="name" name="user_name" required autofocus size="40" placeholder="Nom maximum 30 caractères"
                                            minlength="4" maxlength="30"/>
                                        </li>
                                        <li>
                                            <label for="name">Surname:</label>
                                            <input type="text" id="surname" name="user_surname" required autofocus size="40" placeholder="Prénom maximum 30 caractères"
                                            minlength="2" maxlength="30"/>
                                        </li>
                                        <li>
                                            <label for="name">Poste:</label>
                                            <input type="text" id="poste" name="user_poste" required autofocus size="40" placeholder="Poste maximum 50 caractères"
                                            minlength="2" maxlength="50" />
                                        </li>
                                        <li>
                                            <label for="name">Organisation:</label>
                                            <input type="text" id="organisation" name="user_organisation" required autofocus size="40" placeholder="Organisation maximum 100 caractères"
                                            minlength="5" maxlength="100"/>
                                        </li>
                                        <li>
                                            <label for="msg">Message:</label>
                                            <textarea id="msg" name="user_message"required autofocus size="40" placeholder="Contenu du message maximum 320 caractères"
                                            minlength="10" maxlength="320"></textarea>
                                        </li>
                                    </br>
                                    <footer class="align-center">
                                    <button  type="submit">Send your message</button>
                                </footer>
                                        
                                    </ul>
                                </form>
                                <!-- fin de boucle -->
                                <footer class="align-center">
                                    
                                </footer>
                            </div>
                        </div>
                    </div>
            </div>
        </section>


						



						
		<!-- THREE -->
						

						
		<!-- FOUR -->
						

					</div>
				</div>
			</section>

				<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>BOOKING BY Simplon'DATA</p>
						<h2>Votre réservation n'as jamais étais aussi importante</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
        <section id="three" class="wrapper style2">
            <div class="inner">
                <header class="align-center">
                    <p class="special">BOOKING BY Simplon'DATA</p>
                    
                </header>
                    
                    <div>
                        <div class="box">
                            
                            <div class="content">
                                <header class="align-center">
                                    
                                    <h2>Liste des salles</h2>
                                </header>
                                <!-- boucle pour selectionner la liste des films -->
                                    
                                <!-- fin de boucle -->
                                <footer class="align-center">
                                    
                                </footer>
                            </div>
                        </div>
                    </div>

                    


                    


                    

                    


                    
            </div>
        </section>


			<footer id="footer">
				
				
				
				<div class="inner">
				
				
				
					<div class="content">
						<section>
							<h3>BOOKING</h3>
							<p>Les réservations son notre activité principal,</br>et nous en faisons un gâge de qualité.</p>
						</section>
					
						<section>
							<h4>Contact</h4>
							<ul class="plain">
								
                                <li><a href="https://github.com/anthony-marais"><i class="icon fa-github">&nbsp;</i>Github - Anthony Marais</a></li>
                                <li><a href="https://github.com/LukasClave06"><i class="icon fa-github">&nbsp;</i>Github - Lukas Clave</a></li>
                                <li><a href="https://github.com/SamyBoubaker"><i class="icon fa-github">&nbsp;</i>Github - Samy Boubaker</a></li>
							</ul>
						</section>
					</div>
					
					
					<p>Date et heure de la création du contenu 10/01/20 16:18:43</p>
					
					
					<div class="copyright">
						&copy; BOOKING. by Simplon'DATA.
					</div>
				</div>
		
		
		
			</footer>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>