<!DOCTYPE html>
<html lang ="fr">

<head>
    <meta charset="UTF-8">
    <title>{{ title if title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">


</head>


<body>
<div class="container"></div> 
    <h1>Création de compte</h1>

    <p>Merci de compléter le formulaire ci-dessous.</p>
  
    <form action"" method="post">
        {{ form.hidden_tag()}}
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
                {{ form.email (class="form-input") }}
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
        </div>


        <div class="form-group">
            {{ form.password.label(class="form-label")}}
            {{ form.password(class="form-input") }}

            {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}

        </div>


            {{ form.submit(class="btn btn-primary" ) }}


    </form>




</div> 

</body>


</html>