<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">


						<section id="three" class="wrapper style2">
                            <div class="inner">
                                <header class="align-center">
                                    <p class="special">RESERVATION DE SALLE</p>
                                    
                                </header>
                                    
                                    <div>
                                        <div class="box">
                                            
                                            <div class="content">
                                                <header class="align-center">
                                                    
                                                    <h2>Formulaire de réservation</h2>
                                                </header>
                                                
                                                <!-- fin de boucle -->
                                                <footer class="align-center">
                                                    
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </section>
		<!-- TWO -->
        <section id="three" class="wrapper style2">
            <div class="inner">
                <header class="align-center">
                    <p class="special">RESERVATION DE SALLE</p>
                    
                </header>
                    
                    <div>
                        <div class="box">
                            
                            <div class="content">
                                <header class="align-center">
                                    
                                    <h2>Formulaire de réservation</h2>
                                </header>
                                
                                <!-- fin de boucle -->
                                <footer class="align-center">
                                    
                                </footer>
                            </div>
                        </div>
                    </div>
            </div>
        </section>


















<section id="three" class="wrapper style2">
            <div class="inner">
                <header class="align-center">
                    <p class="special">BOOKING BY Simplon'DATA</p>
                    
                </header>
                    
                    <div>
                        <div class="box">
                            
                            <div class="content">
                                <header class="align-center">
                                    
                                    <h2>Liste des salles</h2>
                                </header>
                                <!-- boucle pour selectionner la liste des films -->
                                    
                                <!-- fin de boucle -->
                                <footer class="align-center">
                                    
                                </footer>
                            </div>
                        </div>
                    </div>

                    


                    


                    

                    


                    
            </div>
        </section>