<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style_reservation.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		</head>
	
	<body>

		<header>
		<nav class="navtop">
			<div>
				<a href="{{ url_for('acceuil') }}"><i class="fas fa-home"></i> BOOKING by Simplon'DATA</a>       
				<a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('reservation') }}"><i class="fas fa-comment-alt"></i>Reservation</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		</header>

		
		
    <div>
		<div class="register">
		
			<h1>DEMANDE RESERVATION</h1>
			<p>  Salut, J’ai besoin de la salle 736 le 17 janvier entre 8 h et 10 h</p>
		<form action="{{ url_for('reservation') }}" method="post">
    <textarea rows="5" cols = "37" name="reservation" placeholder="reservation" id="reservation" required></textarea>
    <div class="msg">{{ msg }}</div>
       <input type="submit">
    </form>
    
   

    
    </form>
</div>
</div>



		<br>
		<br>
        <br>
		<br>
        <br>



		  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <section>
							<h3>BOOKING</h3>
							<p>Les réservations sont notre activité principale,</br>et nous en faisons un gâge de qualité.</p>
						</section>  </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
              
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      
	  
	  <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
           
			<div class="copyright">
						&copy; BOOKING. by Simplon'DATA.
					</div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>

	</body>
</html>