<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		</head>
	
	<body>

		<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<a class="navbar-brand" href="/home">BOOKING <span>by Simplon'DATA</span></a></div>
 			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  		<div class="collapse navbar-collapse" id="navbarNav">
    		<ul class="navbar-nav">
      			<li class="nav-item active">
        		<a class="nav-link" href="/home">Home <span class="sr-only">Booking</span></a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="#">Features</a>
      		</li>
      		
    		</ul>
  		</div>
		</nav>
		</header>

		

		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>


				<label for="username">
					<i class="fas fa-id-card"></i>
				</label>
				<input type="text" name="username" placeholder="Name" id="username" required>
				
				<label for="username">
					<i class="fas fa-id-card"></i>
				</label>
				<input type="text" name="username" placeholder="Surname" id="username" required>
				

				<label for="name">
					<i class="fas fa-user-tie"></i>
				</label>
				<input type="text" id="poste" name="user_poste" required autofocus size="40" placeholder="Poste" minlength="2" maxlength="50" />
                

				<label for="name">
					<i class="fas fa-user-edit"></i>
				</label>
				<input type="text" id="organisation" name="user_organisation" required autofocus size="40" placeholder="Organisation" minlength="5" maxlength="100"/>
				
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>

				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Repeat password" id="password" required>



				<div class="msg">{{ msg }}</div>


				
				<input type="submit" value="Register">
			</form>
		</div>


		<br>
		<br>





		  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <section>
							<h3>BOOKING</h3>
							<p>Les réservations sont notre activité principale,</br>et nous en faisons un gâge de qualité.</p>
						</section>  </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
              
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      
	  
	  <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
           
			<div class="copyright">
						&copy; BOOKING. by Simplon'DATA.
					</div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>

	</body>
</html>